<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" name="nombre" placeholder="Ingresa Tu Nombre" v-model="nombre">
    <p>Tu nombre en mayusculas es: {{nombre | uppercase}} </p>


    <form @submit.prevent="submit" action="" method="get">
      <h2>Curso favorito?</h2>
      <input v-model="cursos" type="checkbox" id="vue" value="vue">
      <label for="vue">Curso de Vue.js</label>

      <input v-model="cursos" type="checkbox" id="code" value="code">
      <label for="code">Curso de code.js</label>

      <input v-model="cursos" type="checkbox" id="react" value="react">
      <label for="react">Curso de react.js</label>

      <input v-model="cursos" type="checkbox" id="Hey" value="Hey">
      <label for="Hey">Curso de Hey.js</label>
      
      <button type="submit">Enviar</button>
    </form>
  </div>


  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        contador: 0,
        nombre: "",
        cursos: []
      },
      filters:{
        uppercase: function(str){ return str.toUpperCase()},
        lowercase: function (str) {
          return str.toLowerCase()
        }
      },
      methods: {
        submit: function () {
          console.log('Hey Jude')
          console.log(this.cursos)
        }
      },

    });

  </script>
</body>
</html>